<div class="display-beers" >
    {{#each birra}}

<div class="beers">
    <img class="beersImg" src="{{this.image_url}}" alt="beerimage"/>
    <h4> {{this.name}} </h4>
    <h4> {{this.tagline}}</h4>
    <h4> {{this.description}} </h4>
 </div>
 {{/each}}
</div>