<div class="display-beers" >
    {{#each birra}}

<div class="beers">
    <img class="beerImg" src="{{this.image_url}}" alt="beerimage"/>
    <h2> {{this.name}} </h2>
    <h2> {{this.tagline}}</h2>
    <h2> {{this.description}} </h2>
 </div>
 {{/each}}
</div>