<div>

    <div>
       <img id="beerImg" src='/images/beer.png'/>
    </div>

    <div><button class="randomButton"><a href="/random"> Get a Random Beer</a></button></div>
    <div><button class="beerButton"><a href="/beers"> Beer List</a></button></div>