

<div class="display-beers" >

    <img class="randomImg" src="{{beer.image_url}}" alt="beerImage"/>
    <h2> {{beer.name}} </h2>
    <h2> {{beer.tagline}}</h2>
    <h2> {{beer.description}} </h2>

<div class="beers">

 </div>

</div>


