/* * {
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
} */

body {
    background-color: rgb(255, 255, 255);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;

}

#navbar {
    background-color: #2081c3;
    box-shadow: 5px 0px 10px #0a2c42;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f7f9f9;
    list-style:none;
    /* text-align: center; */
    /* display: inline-block; */
    text-decoration: none;
    list-style-type: none;
    align-content: space-between;  
    
    
    
}

#navbar a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f7f9f9;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 15px;  
    list-style-type: none ;
    
}

#navbarHome {
    float: center;

}

#navbarBeers {
    float: center;
    text-align: center;

    
}
#navbarRandom{
    float: center;
    text-align: right;
 

}
 

footer {
    font-size: 30px;
}

#beerImg {
    align-content:center;
    height: 300px;
    width: 400px;
}
