/* * {
white: #f7f9f9;
light-blue: #2081c3;
dark-blue: #0a2c42;
grey: #bfbfbf;
font-family: Arial, Helvetica, sans-serif;
} */

body {
    background-color: rgb(255, 255, 255);
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;

}

#navbar {
    background-color: #2081c3;
    box-shadow: 5px 0px 10px #0a2c42;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f7f9f9;
    list-style:none;
    /* text-align: center; */
    /* display: inline-block; */
    text-decoration: none;
    list-style-type: none;
    align-content: space-between; 
    position: inline;
    

}

#navbar a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #f7f9f9;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 15px 15px;  
    list-style-type: none ;
    position: inline;
   
    
}

#navbarHome {
    /* float: center; */
    margin-left: auto;
    margin-right: auto; 
    position: inline;

}

#navbarBeers {
    /* float: center; */
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    position: inline;

    
}
#navbarRandom{
    /* float: center; */
    text-align: right;
    margin-left: auto;
    position: inline;
    margin-right: auto; 
 

}
 

footer {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    font-size: 20px;
    bottom: 0px;
    width: 400px;
    text-align: center;
    
}

#beerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
    width: 400px;
}

.randomImg {
    margin:10px 550px 10px 840px;
    align-items: center;
    justify-items: center;
    height: 350px;
    width: 100px;
}

.display-Beers {
    height: 200px;
    width: 200px;
   align-items: center;
   align-content: center;
   margin-left: auto;
   margin-right: auto;
   font-size: 25px;
}

.beers img {
    align-items: center;
}

.beersImg {
    margin:10px 855px;
    margin-right: auto;
    height: 200px;
    width: 60px;
   
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: underline;
}
h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

h4 {
    font-family: monospace;
    text-align: center;
    margin: 10px 450px 10px 450px;
}
